.two-col-skew {
  width: 100%;
  position: relative;
  height: 26rem;
  overflow: hidden;

  &__inner {
    width: 110%;
    height: 100%;
    transform: translateX(-5%);
  }
  &__skewed {
    height: 100%;
    width: calc(50% - 1px);
    float: left;
    transform: skewX($skew);
    text-align: center;
    overflow: hidden;

    &--cdh {
      background: $col-cdh;
      color: $col-white;
    }

    &--image {
      position: relative;
      img {
        @include anti-skew-center;
        width: 110%;
      }
    }

    &:last-of-type {
      float: right;
    }
  }

  &--anti {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%) skewX($anti-skew);
  }
}
