.two-col-skew {
  width: 100%;
  height: 52rem;
  @include screen(tab-port) {
    height: 26rem;
  }

  & + .two-col-skew {
    margin-top: $margin-m;
  }

  &--anti {
    @include anti-skew-center;
    width: 80%;
    @include screen(tab-port) {
      width: 50%;
    }
  }

  &--small {
    height: 36rem;
    @include screen(tab-port) {
      height: 18rem;
    }
  }

  &--large {
    height: 36rem;
    @include screen(tab-port) {
      height: 40rem;
    }
  }

  &--narrow {
    margin-top: 0rem;
    height: 10rem;
    .two-col-skew__skewed--cdh {
      background-position-x: -10rem;
      @include screen(tab-port) {
        background-size: 110%;
        background-position-x: 0;
      }
    }
    .two-col-skew__skewed:first-of-type {
      width: 100%;
      @include screen(tab-port) {
        width: 70%;
      }
    }
    .two-col-skew__skewed:last-of-type {
      width: 100%;
      @include screen(tab-port) {
        width: 30%;
      }
    }
    .two-col-skew__skewed--cdh__header {
      margin: 0;
    }
  }

  &__inner {
    width: 110%;
    transform: translateX(-5%);
    height: 100%;
    @include screen(tab-port) {
      width: 110%;
      transform: translateX(-5%);
    }
  }
  &__skewed {
    height: 50%;
    width: 100%;
    float: left;
    transform: skewX($skew);
    text-align: center;
    @include screen(tab-port) {
      height: 100%;
      width: calc(50% - 1px);
      float: left;
      transform: skewX($skew);
      text-align: center;
    }

    &--cdh {
      background: $col-cdh;
      color: $col-white;

      &__wrapper-left {
        @include screen(tab-port) {
          left: 60%;
        }
      }

      &__wrapper-right {
        @include screen(tab-port) {
          left: 40%;
        }
      }

      &__wrapper-commune {
        @include screen(tab-port) {
          left: 3rem;
          bottom: 2rem;
          transform: translateX(0) skewX($anti-skew);
          width: 70%;
        }
      }

      &__wrapper-candidate {
        @include screen(tab-port) {
          left: calc(10% + 5rem);
          transform: translate(0, -50%) skewX($anti-skew);
          width: 70%;
        }
      }

      &__header {
        margin-bottom: $margin-m;
        font-size: 2.6rem;
        text-align: center;
        @include screen(tab-port) {
          font-size: 4rem;
          text-align: left;
        }

        &--commune {
          bottom: 0;
          font-size: 6rem;
          margin: 0;
          position: absolute;
          text-align: left;
          width: 100%;
        }

        &--firstname {
          display: block;
          font-size: 2.5rem;
        }
      }

      &__subheader {
        text-align: center;
        font-family: $font-nav;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        @include screen(tab-port) {
          margin-bottom: 1rem;
          text-align: left;
        }
      }

      &__quote {
        color: $col-black;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
        margin-top: $margin-l;
        padding-left: 4rem;
        text-align: left;

        &:before {
          content: "“";
          position: absolute;
          top: -1.4rem;
          left: 0;
          font-size: 10rem;
        }
      }
    }

    &--image {
      overflow: hidden;
      img {
        @include anti-skew-center;
        width: 110%;
      }
    }

    &:last-of-type {
      float: right;
    }
  }
}
