.footer {
  background-color: $col-grey;
  color: $col-light-grey;
  padding: 5rem 5rem 0 5rem;
  overflow: hidden;
  margin-top: 5rem;
  font-style: italic;

  &__cols {
    @include clearfix;
    max-width: 120rem;
    margin: 0 auto;

    &__col {
      float: left;
      width: 30%;
      &:not(:last-of-type) {
        margin-right: 5%;
      }
    }
  }

  &__copyright {
    background-color: $col-black;
    margin-top: 5rem;
    margin-left: -5rem;
    margin-right: -5rem;
    padding: $padding-xs $padding-m;
  }

  &__header {
    font-size: 1.6rem;
    margin-bottom: $margin-m;
  }

  &__text {
    margin-bottom: $margin-s;
  }
}
