.header {
  font-family: $font-nav;
  font-style: italic;
  font-weight: 600;
  overflow: hidden;
  padding: $padding-s 0;
  margin-bottom: $margin-m;

  &__logo {
    height: 12rem;
    margin: 0 3rem;
  }

  &__interior-links {
    font-size: 1.8rem;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;

    &__item {
      display: inline-block;
      margin-right: 1rem;
      padding: 0.5rem 1.6rem 0.5rem 0;
      transform: skewX($skew);

      &:not(:last-child) {
        border-right: 1px solid $col-grey;
      }
    }
    &__link:link,
    &__link:active,
    &__link:visited {
      color: $col-grey;
      display: inline-block;
      transform: skewX($anti-skew);
      transition: all 0.2s;
    }

    &__link:hover,
    &__link:focus {
      color: $col-dark-grey;
      transform: skewX($anti-skew) translateY(-3px);
    }
  }
}
