.header {
  font-family: $font-nav;
  font-style: italic;
  font-weight: 600;
  padding: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  height: 7.5rem;

  @include screen(tab-port) {
    height: auto;
    margin-bottom: $margin-m;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    width: auto;
  }

  &__checkbox {
    display: none;

    &:checked ~ .header__expander {
      background-color: $col-white;
      box-shadow: $shadow-regular;
      transform: translate(-50%, -50%) scale(555);
      transition: background-color 0.5s, transform 5s;
    }

    &:checked ~ .header__wrapper {
      height: 100vh;
      overflow: auto;
      z-index: 999;
    }

    &:checked ~ .header__wrapper .header__logo,
    &:checked ~ .header__wrapper .social-links,
    &:checked ~ .header__wrapper .header__interior-links {
      transform: translateX(0);
      opacity: 1;
    }
    &:checked ~ .header__logo {
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }
    &:checked ~ .header__logo--mobile {
      transform: translateY(-100%);
      transition: transform 0.5s;
    }
    &:checked ~ .social-links {
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }
    &:checked ~ .header__interior-links {
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }

    &:checked ~ label .header__toggle-button__icon {
      background-color: transparent;
      transform: translate(-50%, 0) rotate(90deg);
    }
    &:checked ~ label .header__toggle-button__icon:before {
      transform: translate(-50%, 0) rotate(135deg);
    }
    &:checked ~ label .header__toggle-button__icon:after {
      transform: translate(-50%, 0) rotate(45deg);
    }
  }

  &__wrapper {
    height: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 998;
    @include screen(tab-port) {
      position: relative;
      height: auto;
    }
  }

  &__toggle-button,
  &__expander {
    background-color: $col-secondary;
    border-radius: 1000px;
    box-shadow: $shadow-regular;
    color: $col-white;
    height: 5rem;
    padding: 1.4rem 0;
    position: fixed;
    right: 1rem;
    text-align: center;
    transition: background-color 0.5s;
    top: 1rem;
    width: 5rem;
    @include screen(tab-port) {
      display: none;
    }

    &:active {
      background-color: $col-primary;
    }

    /* Mobile nav button icon*/
    &__icon,
    &__icon:before,
    &__icon:after {
      @include center;
      background-color: $col-white;
      display: block;
      width: 2.4rem;
      height: 2px;
      transition: transform 0.5s, background-color 0.5s;
    }

    &__icon:before {
      content: "";
      transform: translate(-50%, -9px);
      width: 100%;
    }

    &__icon:after {
      content: "";
      transform: translate(-50%, 7px);
      width: 100%;
    }
  }

  &__toggle-button {
    z-index: 1000;
  }

  &__expander {
    background-color: $col-primary;
    padding: 0;
    transform: scale(0.5);
    transition: background-color 5s, transform 3s;
    z-index: 997;
  }

  &__logo {
    margin: 1rem 2rem;
    max-width: 30rem;
    opacity: 0;
    transform: translateX(-150%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    width: 50%;
    z-index: 1001;

    @include screen(tab-port) {
      margin: 1.5rem 3rem;
      opacity: 1;
      height: 12rem;
      width: auto;
      transform: translateX(0);
    }

    &--mobile {
      background-color: $col-white;
      box-shadow: $shadow-regular;
      display: block;
      height: 100%;
      z-index: 999;
      transition: transform 0.5s 0.5s;
      @include screen(tab-port) {
        display: none;
      }

      &__image {
        height: 100%;
        padding: 1rem 2rem;
      }
    }
  }

  &__interior-links {
    bottom: 0;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 0 1rem;
    opacity: 0;
    position: relative;
    right: 0;
    text-align: right;
    transform: translateX(-100%);
    transition: transform 0.5s 0.2s, opacity 0.5s 0.2s;
    width: 100%;
    z-index: 1001;
    @include screen(tab-port) {
      padding: 0;
      position: absolute;
      opacity: 1;
      transform: translateX(0);
      width: auto;
    }

    &__item {
      margin-right: 0;
      padding: 1rem 2rem;
      text-align: center;
      @include screen(tab-port) {
        transform: skewX($skew);
        margin-right: 1rem;
        display: inline-block;
        padding: 0.5rem 1.6rem 0.5rem 0;
      }

      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid $col-grey;
        @include screen(tab-port) {
          border-right: 1px solid $col-grey;
          border-bottom: none;
        }
      }
    }
    &__link:link,
    &__link:active,
    &__link:visited {
      color: $col-grey;
      display: inline-block;
      transform: skewX(skew);
      transition: color 0.2s, transform 0.2s;
      @include screen(tab-port) {
        transform: skewX($anti-skew);
      }
    }

    &__link:hover,
    &__link:focus {
      color: $col-dark-grey;
      transform: skewX($anti-skew) translateY(-3px);
    }
  }
}
