.input {
  width: 80%;
  @include screen(tab-port) {
    width: 50%;
  }

  &--candidates {
    display: inline-block;
    margin-right: 1rem;
    width: calc(100% - 6rem);

    .awesomplete {
      width: 100%;
    }
  }

  &__text {
    border: none;
    border-radius: 1000px;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}
