.engagements {
  @include clearfix;
  max-width: 120rem;
  margin: 0 auto;

  &__block {
    float: left;
    width: 35rem;
    padding: 5rem 3rem 5rem 8.5rem;
    margin: 3rem 0;
    position: relative;
    transform: skewX($skew);
    transition: all 0.5s;

    &:hover {
      width: 45rem;
      padding-right: 13.5rem;
      margin-left: 5rem;
    }

    &:not(:last-of-type) {
      border-right: 1px solid $col-black;
    }

    &:before {
      content: "";
      background: url(../assets/img/arrow-yellow.svg);
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 4rem;
      width: 3rem;
      height: 3rem;
      transform: translateY(-50%) skewX($anti-skew);
    }

    &:nth-child(1):before {
      transform: translateY(-50%) rotateZ(100grad) skewY($skew);
    }

    &:nth-child(3):before {
      transform: translateY(-50%) rotateZ(300grad) skewY($skew);
    }
  }

  &__heading {
    color: $col-grey;
    display: inline-block;
    font-size: 2.5rem;
    font-family: $font-nav;
    font-weight: 600;
    line-height: 1;
    transform: skewX($anti-skew);
  }
}
