.twitter-feed {
  width: 100%;
  @include screen(tab-port) {
    width: 50%;
  }

  &__wrapper {
    box-shadow: $shadow-regular;
    width: 100%;
    height: 20rem;
    margin-top: $margin-m;
    overflow: auto;
    padding: $padding-m;
    @include screen(tab-port) {
      height: 40rem;
    }
  }
}
