.videos {
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
  }

  &__slide {
    // outline: 1px solid red;
    height: 50vw;
    padding: 1rem;
    width: 50vw;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      color: $col-white;
      width: calc(50vw - 2rem);
      transform-origin: top right;
      transform: translate(-1.3rem, 1rem) rotate(300grad);
      height: 2.4rem;
      padding-top: 0.3rem;
      font-size: 1.4rem;
    }

    &--rencontre {
      &:after {
        content: "Rencontre";
        background-color: $col-secondary;
      }

      & .videos__placeholder-image {
        &:before {
          background: url(../assets/img/play-orange.svg);
        }
      }
    }

    &--tutorial {
      &:after {
        content: "Tutorial";
        background-color: $col-primary;
      }

      & .videos__placeholder-image {
        &:before {
          background: url(../assets/img/play-yellow.svg);
        }
      }
    }
  }

  .videos__placeholder-image {
    &:before {
      content: "";
      background-size: contain;
      @include center;
      width: 4rem;
      height: 4rem;
      z-index: 1;
    }

    & > img {
      width: 100%;
    }
  }

  &__text {
    font-family: $font-nav;
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.4rem;
    padding-right: 3rem;
  }
}
