.video-box {
  @include center;
  animation: fade-in 0.75s 0.1s forwards;
  box-shadow: $shadow-regular;
  max-width: 72rem;
  opacity: 0;
  position: fixed;
  width: 45%;
  transition: opacity 0.5s 0.5s;
  z-index: 100;

  &:after {
    content: "";
    @include center;
    background-color: rgba($col-black, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  &--close {
    animation: fade-out 0.5s forwards;
    opacity: 1;
  }

  &__close {
    background: none;
    border: none;
    text-shadow: $shadow-regular;
    color: $col-white;
    cursor: pointer;
    font-family: $font-nav;
    font-size: 2rem;
    padding: 0 1rem;
    position: absolute;
    right: -3rem;
    z-index: 200;
  }

  &__video {
    padding-top: 56.25%;
    width: 100%;
    background-color: $col-black;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__controls {
    background-color: $col-white;
    padding: $padding-m;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-bottom: $margin-s;

    &__title {
      font-size: 3rem;
      margin: 0;
      align-self: center;
    }

    &__stats {
      width: 10rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;

      &__views {
        font-size: 1.8rem;
        width: 100%;
        text-align: right;
        height: 60%;
      }

      &__likes,
      &__dislikes {
        font-size: 1.4rem;
        height: 40%;
      }

      &__icon {
        width: 1.5rem;
        height: auto;
        transform: translateY(2px);

        &--large {
          width: 2rem;
        }
      }
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-m;
    text-align: left;
    min-height: 4.8rem;

    &__share {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &__button {
        background-color: $col-grey;
        color: $col-white;
        display: block;
        font-size: 1.2rem;
        padding: 0rem 1rem 0.5rem 2rem;
        height: 2rem;
        border: 2px solid $col-white;
        border-radius: 2px;

        &--facebook {
          background: url("../assets/img/icon-sprite-facebook.svg") no-repeat
            $col-facebook;
          background-size: contain;
          border-color: $col-facebook;
          margin-right: 1rem;
        }

        &--twitter {
          background: url("../assets/img/icon-sprite-twitter.svg") no-repeat
            $col-twitter;
          background-size: contain;
          border-color: $col-twitter;
        }
      }
    }
  }

  &__description {
    &__date {
      font-weight: 600;
      margin-bottom: $margin-s;
    }
  }
}

.video-list {
  &__header {
    margin-bottom: $margin-s;
  }

  &__list {
  }

  &__item {
    margin: 0 0.5rem;

    .youtube {
      display: block;
      padding-top: 55%;

      &::before {
        @include center;
        content: "";
        background: url(../assets/img/play-yellow.svg);
        width: 5rem;
        height: 5rem;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
