*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: $font-nav;
}

main {
  overflow-x: hidden;
  padding-top: 6rem;
  @include screen(tab-port) {
    padding-top: 0;
  }
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
