.u-anti-skew {
  transform: skewX($anti-skew);
}

.u-wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include screen(tab-port) {
    padding: 0 5rem;
  }
}

.u-align-right {
  text-align: center !important;
  @include screen(tab-port) {
    text-align: right !important;
  }
}
