.u-anti-skew {
  transform: skewX($anti-skew);
}

.u-wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include screen(tab-port) {
    padding: 0 10rem;
  }
}

.u-section-split {
  @include clearfix;
  margin-bottom: 10rem;

  & > :first-child {
    float: left;
  }

  & > :last-child {
    float: right;
  }
}

@supports (display: flex) {
  .u-section-split {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    & > * {
      float: none;
    }
  }
}

.u-align-right {
  text-align: center !important;
  @include screen(tab-port) {
    text-align: right !important;
  }
}
