.u-anti-skew {
  transform: skewX($anti-skew);
}

.u-wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include screen(tab-port) {
    padding: 0 10rem;
  }

  &--followed-by-quote {
    margin-left: auto;
    margin-right: 0;
  }
}

.u-section-split {
  @include clearfix;
  margin-bottom: 5rem;

  & > :first-child {
    @include screen(tab-port) {
      float: left;
    }
  }

  & > :last-child {
    @include screen(tab-port) {
      float: right;
    }
  }
}

@supports (display: flex) {
  .u-section-split {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    flex-direction: column;
    @include screen(tab-port) {
      flex-direction: row;
    }

    & > * {
      float: none !important;
    }
  }
}

.u-align-right {
  text-align: center !important;
  @include screen(tab-port) {
    text-align: right !important;
  }
}
