// Fonts
$font-nav: "Exo", sans-serif;

// Colors
$col-primary: #f7a600;
$col-secondary: #e86b28;
$col-white: #fff;
$col-grey: #90908e;

$col-youtube: #fb3d00;
$col-facebook: #3b629b;
$col-twitter: #0bb8ff;
$col-linkedin: #007ab5;
$col-instagram: url("assets/img/instagram.jpg");
