// Colors
$col-primary: #f7a600;
$col-secondary: #e86b28;
$col-tertiary: #ad4547;
$col-white: #fff;
$col-black: #222;
$col-grey: #90908e;
$col-light-grey: lighten($col-grey, 30%);
$col-med-grey: darken($col-grey, 15%);
$col-dark-grey: darken($col-grey, 30%);

$col-youtube: #fb3d00;
$col-facebook: #3b629b;
$col-twitter: #0bb8ff;
$col-linkedin: #007ab5;
$col-instagram: url("../assets/img/instagram-bg.jpg");

// Angle for transforms
$skew: -8deg;
$anti-skew: 8deg;

// Margin and padding
$margin-s: 1rem;
$margin-m: 2rem;

$padding-xs: 0.5rem;
$padding-s: 1rem;
$padding-m: 2rem;
